name: Release Drafter

on:
  push:
    branches:
      - main

jobs:
  update_release_draft:
    runs-on: ubuntu-latest
    steps:
      - uses: release-drafter/release-drafter@v5
        id: drafter
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: write release drafter to file
        shell: bash
        run: |
            echo "${{steps.drafter.outputs.body}}" >> release_note.md
            cat release_note.md